<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title>Sign up page</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<h1>Sign Up</h1>
<p>Example user: user / password</p>
<form th:action="@{/signup}" method="post">
  <label for="username">Username</label>:
  <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
  <label for="password">Password</label>:
  <input type="password" id="password" name="password" /> <br />
  <input type="submit" value="Sign Up" />
</form>
<p><a href="/" th:href="@{/}">Back to home page</a></p>
<p><a href="/log-in" th:href="@{/log-in}">Have an account?</a></p>
</body>
</html>
